// app global css in SCSS form

$text-color: #1DA1F2;

.container{
  max-width: 975px
  margin 0px auto
}

.text-grand-hotel{
  font-family: 'Grand Hotel', 'Roboto','Helvetica Neue', Helvatica, Arial, sans-serif
}

.menu-item{
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  &:hover {
    color:$text-color;
  }
} 
.menu-item-tweet{
  padding-top: 40px;
}

.user{
  padding-top: 20%;
}

@media (max-width: 1440px) {
  .logo{
    margin-left: -10px;
  }
  .user-info{
    display: none;
  }
  .user{
    margin-left: -24px;
  }
  .menu-item-tweet{
    display: none;    
  }
}
