// app global css in SCSS form


$text-color: #1DA1F2;

.container{
  max-width: 975px
  margin 0px auto;
  margin-left:442px
}

.menu-item{
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  &:hover {
    color:$text-color;
  }
} 
.menu-item-tweet{
  padding-top: 40px;
}


.user{
  padding-top: 20%;
}


.q-textarea.q-field--labeled .q-field__native {
  min-height: 50px;
  padding-top: 15px;
  border: none;
}

.q-textarea .q-field__native, .q-textarea .q-field__prefix, .q-textarea .q-field__suffix {
  line-height: 35px;
}

@media (max-width: 1440px) {
  .logo{
    margin-left: -10px;
  }
  .user-info{
    display: none;
  }
  .user{
    margin-left: -24px;
  }
  .menu-item-tweet{
    display: none;    
  }
}
